@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Roboto:wght@300;900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Mochiy Pop One', sans-serif;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
header{
    padding: 5px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: black;
    color: white;
    text-align: center;
}
#main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 100vh;
}
#gameBoard{
    position: relative;
    padding: 5px;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 8px;
    overflow: hidden;
}
.box{
    flex-basis: 25%;
    margin: 5px;
    padding: 10px;
    background-color: rgb(117, 140, 243);
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.box p{
    font-size: 5em;
    opacity: 1;
}
#menuBackground{
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}
#menuBox{
    text-align: center;
    width: 48%;
    height: 48%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}
#menuBox button{
    padding: 5px 10px;
    margin: 10px;
}
.btnWrapper{
    text-decoration: none;
    color: black;
}

/* RESPONSIVENESS */

/* Max-Width 428px */
@media (max-width: 428px){
    #menuBox{
        width: 50%;
        height: 50%;
        padding: 10px;
        border-radius: 5px;
    }
    #gameBoard{
        padding: 3px;
        border-radius: 5px;
    }
    .box{
        margin: 2px;
        padding: 3px;
        border-radius: 3px;
    }
    .box p{
        font-size: 4em;
    }
}

/* Max-Width 393px */
@media (max-width: 393px){
    #gameBoard{
        padding: 3px;
        border-radius: 5px;
    }
    .box{
        margin: 2px;
        padding: 3px;
        border-radius: 3px;
    }
    .box p{
        font-size: 3.7em;
    }
}

/* Max-Width 375px */
@media (max-width: 375px){
    #gameBoard{
        padding: 3px;
        border-radius: 5px;
    }
    .box{
        margin: 2px;
        padding: 3px;
        border-radius: 3px;
    }
    .box p{
        font-size: 3.5em;
    }
}

/* Max-Width 360px */
@media (max-width: 360px){
    #gameBoard{
        padding: 3px;
        border-radius: 5px;
    }
    .box{
        margin: 2px;
        padding: 3px;
        border-radius: 3px;
    }
    .box p{
        font-size: 3.4em;
    }
}

/* Max-Width 320px */
@media (max-width: 320px){
    #gameBoard{
        padding: 3px;
        border-radius: 5px;
    }
    .box{
        margin: 2px;
        padding: 3px;
        border-radius: 3px;
    }
    .box p{
        font-size: 2.9em;
    }
}